.print-content-wrap {

}

.print-content-wrap h4 {
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px 0;
}

.print-content-wrap ul, .print-content-wrap li {
    list-style: none;
}

.print-content-wrap .content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.print-content-wrap .content .el-collapse {
    border: 1px solid #22252E;
    border-radius: 0;
    overflow: hidden;
}

.print-content-wrap .content .el-collapse .el-collapse-item .el-collapse-item__header {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px solid transparent;
    height: 30px;
    line-height: 30px;
    background-color: #2B2F3B;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
}

.print-content-wrap .content .el-collapse .el-collapse-item .el-collapse-item__wrap {
    will-change: height;
    background-color: #353945;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}

.print-content-wrap .el-collapse .el-collapse-item .el-collapse-item__wrap .el-collapse-item__content {
    padding: 0;
    font-size: 13px;
    color: rgb(61, 44, 31);
    line-height: 1.769230769230769;
}

.print-content-wrap .content .list-group {
    padding: 0;
    margin: 0;
}

.print-content-wrap .content .list-group-customer {
    padding: 0;
    margin: 0;
    display: flex;
}

.print-content-wrap .list-group .list-group-item {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 6px 60px;
    min-height: 30px;
    box-sizing: border-box;
}

.print-content-wrap .list-group-customer .list-group-item-50 {
    width: 50%;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 6px 60px;
    min-height: 50px;
    box-sizing: border-box;
}

.print-content-wrap .list-group-customer .list-group-item-100 {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 6px 60px;
    min-height: 50px;
    box-sizing: border-box;
}

.print-content-wrap .list-group .list-group-item .label-title  {
    width: 300px;
    font-size: 14px;
    color: #A1A5B1;
}

.print-content-wrap .list-group .list-group-item .content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
    color: #FFFFFF;
}

.print-content-wrap .list-group .list-group-item .content .sn-main{
    display: flex;
}

.print-content-wrap .list-group-customer .list-group-item-50 .label-title  {
    width: 100px;
    font-size: 14px;
    color: #A1A5B1;
}

.print-content-wrap .list-group-customer .list-group-item-50 .content {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
}

.print-content-wrap .list-group-customer .list-group-item-100 .label-title  {
    width: 100px;
    font-size: 14px;
    color: #A1A5B1;
}

.print-content-wrap .list-group-customer .list-group-item-100 .content {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
}

.print-content-wrap .list-group .list-group-item .content .split {
    padding: 0 20px;
}

.print-content-wrap .list-group .list-group-item .content .error {
    flex: 1;
    line-height: 20px;
}

.print-content-wrap .list-group .list-group-item:nth-child(2n) {
    background: rgba(39, 43, 55, 0.2);
}

/* 打印发票*/
/*抬头*/
/*.print-content-wrap {*/
    /*display: block;*/
/*}*/
.print-pi-wrap .printHead {
}
.print-pi-wrap .printHead h2 {
    font-size: 18px;
    text-align: center;
}
.print-pi-wrap .printHead p {
    font-size: 12px;
    text-align: center;
}
.print-pi-wrap .printHead h3 {
    font-size: 12px;
    text-align: center;
}
.print-pi-wrap .printHead {
    font-size: 12px;
}
.print-pi-wrap .printHead .dis_left {
    float: left;
}
.print-pi-wrap .printHead .dis_right {
    float: right;
}
.print-pi-wrap .printHead .dis_right label {
    width: 120px;
}
.print-pi-wrap .printHead .dis_right span {
    width: 200px;
    text-align: center;
}
.print-pi-wrap .printHead label {
    display: inline-block;
    /*text-align: center;*/
}
/* 打印主体内容 */
.print-pi-wrap .content {
    font-size: 12px;
}
.print-pi-wrap .content .table-wrap td {
    border:1px solid #333;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    word-break: break-all;
}
.print-pi-wrap .content .table-wrap table {
    width:100%;
    border:1px solid #333;
    border-collapse: collapse;
}


/* 底部 */

.print-pi-wrap .clear-20{
    clear:both;
    height:20px;
    font-size: 0;
    float: none;
    overflow: hidden;
}
.print-pi-wrap .printFoot{
    font-size:12px;

}
.print-pi-wrap .printFoot .txt{
    text-align: left;
    font-weight:normal;
    font-size:14px;
}

.print-pi-wrap .printFoot .dis_left {
    float: left;
}
.print-pi-wrap .printFoot .dis_right {
    float: right;
}
.print-pi-wrap .printHead label {
    display: inline-block;
    /*text-align: center;*/
}
.print-pi-wrap .printFoot .dis_left label.name {
    font-weight:bold;
}
.print-pi-wrap .printFoot .dis_right span {
    width:200px;
    text-align: center;
}
.print-pi-wrap .printFoot .dis_right span.sign {
    text-align: left;
}

/** 打印 BOM **/

.print-bom-content-wrap .content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.print-bom-content-wrap .content .top{
    margin: 10px auto;
    width: 950px;
    padding: 20px 40px;
}

.print-bom-content-wrap .content .top .art-no {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    color: #A1A5B1;
    line-height: 30px;
}

.print-bom-content-wrap .content .top .img-div {
    margin-top: 20px;
    text-align: center;
}

.print-bom-content-wrap .content .part {
    margin: 10px auto;
    width: 950px;
    padding: 20px 40px;
}
.print-bom-content-wrap .content .list .list-title {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}
.print-bom-content-wrap .content .list .bom-list {
    margin-top: 15px;
    width: 100%;
    overflow: auto;
    /* padding-bottom: 60px; */
    border: 1px solid #2B2F3B;
}
.print-bom-content-wrap .content .list .bom-list tr td {
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}
.print-bom-content-wrap .td-img {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-color: white;
}
.print-bom-content-wrap .content .list .bom-list tr td img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 0;
}

.print-bom-content-wrap .content .list .bom-list td{
   border-bottom: 1px solid  #2B2F3B;
}


.print-content-wrap .content .error-row {
    border-top: 1px solid  #2B2F3B;
    padding: 10px 30px;
}

.print-content-wrap .content .error-row .pl-30 {
    padding-left: 30px;
}

.print-content-wrap .content .error-row .error-text {
    font-size: 12px;
    color: #A1A5B1;
}

.print-content-wrap .content .error-row .error-title {
    font-size: 14px;
    color: black;
}
